.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.load-more {
  background-color: #282828;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
