.group-list-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.group-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  margin-bottom: 20px;
}

.group-toggle button {
  padding: 10px;
  margin-right: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.group-toggle button:last-child {
  background-color: #777;
}

.group-toggle button:hover {
  background-color: #555;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

.dropdown button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.group-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
}

.empty-group-list {
  text-align: center;
  margin-top: 100px;
}

.empty-group-list h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.empty-group-list p {
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
}

.create-group-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-group-button:hover {
  background-color: #555;
}
