.group-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

label {
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
textarea,
input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.create-button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #555;
}
